@{
    ViewBag.Title = "Home Page";
}
@model UniversitiesDashBoardDemo.Models.DashBoardModel
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#chartType").select2();
            $("#drpsearch").select2({
                dropdownParent: $('#section-settings')
            }
            );
        });
    </script>
}
<section class="wrapper main-wrapper row" style=''>
    @Html.Partial("_DashboardAll",Model)
</section>



